<% title = '🎁 クーポン一覧' %>

<div class="container py-4 text-light">
  <h2 class="mb-4">🎁 クーポン一覧</h2>

  <table class="table table-dark table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>コード</th>
        <th>タイプ</th>
        <th>割引/金額</th>
        <th>説明</th>
        <th>有効期限</th>
        <th>利用上限</th>
        <th>使用済み</th>
      </tr>
    </thead>
    <tbody>
      <% coupons.forEach(c => { %>
        <tr>
          <td><%= c.id %></td>
          <td><%= c.code %></td>
          <td><%= c.type %></td>
          <td><%= c.discount_value %></td>
          <td><%= c.description %></td>
          <td><%= c.valid_until %></td>
          <td><%= c.max_uses %></td>
          <td><%= c.used_count %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>